body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  margin: 0;
  padding: 0;
  background-color: #ff6f00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px; 
}

.navbar .logo {
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.navbar .menu-icon {
  padding: 0 20px;
  font-size: 1.5rem;
  color: white;
}
/* ////////////////////search_container//////////////////////////////// */

.container {
  background:url("./assets/banner.jpeg");
  border-radius: 12px;
  padding: 20px;
  height: 300px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  margin-left: 400px;
}

.search-bar {
  position: relative;
  margin: 20px 0;
}

.search-bar input {
  width: 30%;
  padding: 15px 40px 12px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  align-items: center;
  margin-left: 400px;
  margin-top: 80px;
}

.search-bar button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: black;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 40px;
}

.personalize {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  margin-left: 400px;
}

/*///////////////////////////////// carts  /////////////////////////////////////////////*/

.categories {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
  padding: 2rem;
}

.category {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  position: relative;
}

.category:hover {
  transform: scale(1.05);
}

.category img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.category h3 {
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 87, 34, 0.8);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

/* //////////////////menu_bar ////////////////////////////////////////////// */

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  cursor: pointer;

}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
  cursor: pointer;

}

.menu ul li {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
  cursor: pointer;

}
.menu .menu1 {
  font-size: 20px;
  color: #FF6600;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.menu.active {
right:0px;
}